# Ignorar archivos de entorno y variables sensibles
.env
.env.*
env.bat

# Ignorar carpeta del entorno virtual (ajusta el nombre si es diferente)
.myenv/
myenv/

# Ignorar archivos Python compilados y cachés
__pycache__/
*.py[cod]
*$py.class

# Ignorar configuración local del editor
.vscode/

# Archivos del sistema operativo
.DS_Store
Thumbs.db
